body {
	font-family:'Russo One', sans-serif !important;
	overflow-x: hidden;
}
h1,h2,h3,h4{
	color:#ff0000;
}
#parallax {
	height: 680px;
	width: 100%;
	top: 0;
	position: fixed;
	background: url('../images/purchase-3090846_optimized.jpg') center center no-repeat;
	background-size: cover;
	z-index: -100;
}
#hero {
	background: rgba(0, 0, 0, 0);
	color: #000;
	margin-top: 40px;
	padding: 0;
}
#hero .lp-element {
	padding: 150px 50px;
	background-color: rgba(255, 255, 255, .75);
}
#hero h1 {
	font-size: 60px;
}
#hero p.lead {
	font-size: 1.8em;
}
#features {
	background-color: #FFF;
}
.overview .lead {
	margin: 40px 10%;
	margin-bottom: 80px;
}
#image {
	background-color: #ecf0f1;
}
#gallery {
	background-image: url("../images/gallery.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#gallery img {
	width: 100%;
	height: auto;
}
#gallery a {
	margin-bottom: 30px;
	display: block;
}
#gallery a:hover {
	opacity: .5;
}